* {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    cursor: url('img/red-mouse.png'), auto;
    }

    @font-face {
        font-family: 'AdobeCaslon';
        src: url('Typefaces/Caslon/CaslonRegular.otf');
      }
      body {
        background-color: #000000;
        font-family: 'AdobeCaslon'; 
      }


.folio-item{
    font-size: 1em;
    text-align: left;
    padding: 2%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1%;
    box-sizing: border-box;
    margin-left:13%;
    margin-top:1.3%;
}

.folio-item img{
    width: 8.8vw;
    max-width: 100%;
    margin-left:27%;
    margin-top:1%;
}

.folio-item img:hover {
    opacity: 0.85; /* Reduce opacity on hover */
  }



  .header{
    font-size: 1.6em;
    text-align: left;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 30% 40% 29%;
    box-sizing: border-box;
    color: rgb(204, 191, 191);
}

.subheader{
    font-size: 1em;
    text-align: left;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 30% 40% 29%;
    box-sizing: border-box;
    color: rgb(204, 191, 191);
    margin-top:-0.4%;
}

.body{
    font-size: 0.82em;
    text-align: left;
    width: 100vw;
    max-width: 93%;
    box-sizing: border-box;
    color: rgb(204, 191, 191);
    margin-top:5%;
}
  


     /* Modal styles */
     .modal {
        display: none; /* Hide modal by default */
        position: fixed;
        z-index: 9999; /* Ensure modal appears on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
        overflow: auto; /* Enable scrolling */
      }
  
      .modal-content {
        position: relative;
        margin: auto;
        display: block;
        width: 100%; /* Set width of modal content */
        max-width: 100%; /* Max width of modal content */
        /* margin-top: 2.5%;
        margin-bottom: 2.5%; */
      }
  
      .modal-content img {
        width: 100%; /* Ensure image fills modal content */
        display: block;
      }
  
      /* Close button styles */
      .close {
        position: absolute;
        top: 2%;
        right: 3%;
        color: rgb(204, 191, 191);
        font-size: 40px;
        font-weight: bold;
        z-index: 9999;
      }
  
      /* Close button hover effect */
      .close:hover,
      .close:focus {
        color: rgb(157, 153, 153);
        text-decoration: none;
      }


    
